*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.Frame{
  margin: 0 auto;
  width: 360px;
  height: 640px;
  background-color: gray;
  border: solid black 1px;
}

.AndroidTop{
  background-color: #512DA8;
  display: flex;
  flex-direction: row-reverse;
}

.fa-wifi{
  color: lightgray;
  padding: 3px;
}

.fa-signal{
  color: lightgray;
  padding: 3px;
}

.fa-battery-three-quarters{
  color: lightgray;
  padding: 3px;
}

.Clock{
  color: lightgray;
  padding: 3px;
}

.Frame2{
  background-color: #673AB7;
  width: 358px;
  display: flex;
  flex-direction: row-reverse;
  padding:15px;
}

.fa-arrow-left{
padding-right: 60px;
color: lightgray;
}

.fa-search{
  padding-left: 10px;
  color: lightgray;
}

.fa-ellipsis-v{
  padding-left: 10px;
  color: lightgray;
}

h1{
  font-size: 20px;
  padding-right: 44px;
  color: lightgray;
}

.Frame3{
  background-color: white;
  border-bottom: solid gray 2px;
  padding: 18px;
  display: flex;
}

.Name{
  margin: 0 auto;
}

.Destination{
  margin: 0 auto;
}

.Time{
  margin: 0 auto;
}

.Direction{
  background-color: darkcyan;
  color: lightgray;
  padding: 15px;
  text-align: center;
}

.Delayed{
  background-color:khaki;
  color: black;
  padding: 15px;
  text-align:center;
}
.OOS{
  background-color:tomato;
  color: black;
  padding: 15px;
  text-align: center;
}

.AndroidNavBar{
  background-color:black;
  color: white;
  padding: 5px;
  text-align: center;
  text-size:0px;
}

.footer{
  display: inline-block;
  margin: 0 auto;
  background-color: orange;
  width: 25%;
  height: 30px;
}

.fa-circle{
  background-color: red;
}

.fa-angle-left{
  background-color: blue;
  display: inline-block;
  float: left;

}

.fa-square{
  background-color: yellow;
  display: inline-block;
  float: right;
}
